# Variables and Data Types:

### 1.) Variables:
<p>Variables cannot start with special characters or numbers although they can end with one. We can only use "_" underscore to start a varaible name.
It is always recommended to use camelCasing for naming variables </p>

In [4]:
a = 2
print(a)

a1 = 4
print(a1)

_a = 6
print(_a)

_a_ = 8
print(_a_)

a1 = 10
print(a1)

a_ = 12
print(a_)

#1a = 14 not allowed since starting with a special character

2
4
6
8
10
12

### 2.) Data Type:
<p>1. Number System:</p>
<ul>
<li>int</li>
<li>float</li>
<li>complex</li>
</ul>
<br></br>
<p>2. String denotion:</p>
<ul>
<li>single quote ' '</li>
<li>double quote " "</li>
<li>triple quote ''' ''', """ """ [usuall used for documentation]</li>
</ul>
<br></br>
<p>3. List: array denoted by sqare brackets []</p>
<ul>
<li>follows index propert</li>
<li>Array</li>
<li>example: [1,2,3,4]</li>
<li>mutable</li>
</ul>
<br></br>
<p>4. Tuple: array denoted by round brackets ()</p>
<ul>
<li>also follows index propert</li>
<li>Array</li>
<li>example: (1,2,3,4)</li>
<li>immutable</li>
</ul>
<br></br>
<p>5. Dictionary: denoted by curly brackets {}</p>
<ul>
<li>lookalike JSON</li>
<li>Key: value pair propery</li>
<li>example: {'name':'xyz','std':'BE'}</li>
</ul>
<br></br>
<p>6. Set: denoted also by curly brackets {}</p>
<ul>
<li>follows index propert</li>
<li>example: {1,2,3,4}</li>
</ul>

In [99]:
# Number System:

a = 10
b = 10.10
c = 23 + 32j

# type(variable_name)--> is used to check the data type of a variable

print(type(a),a)
print(type(b),b)
print(type(c),c)

<class 'int'> 10
<class 'float'> 10.1
<class 'complex'> (23+32j)

In [101]:
# String:

sa = "Meet P Shah"
sb = 'Meet Shah'
sc = """Meet"""
sd = '''Shah'''
print(sa)
print(sb)
print(sc)
print(sd)

Meet P Shah
Meet Shah
Meet
Shah

In [102]:
# List:

la = [1,2,3,4]
lb = ["m", "e","e","t"]
lc = ["meet", 1]
ld = [1,2.55,3+4j]
le = [[1,2,3],["m","s"]]
print(la)
print(lb)
print(lc)
print(ld)
print(le)

[1, 2, 3, 4]
['m', 'e', 'e', 't']
['meet', 1]
[1, 2.55, (3+4j)]
[[1, 2, 3], ['m', 's']]

In [98]:
# Tuple:

ta = (1,2,3,4)
tb = ("m","e","e","t")
tc = ("meet", 1)
td = (1, 2.54433, 4.5 + 5j)
te = ((1,2,3),("meet","shah"))
print(ta)
print(tb)
print(tc)
print(td)
print(te)

(1, 2, 3, 4)
('m', 'e', 'e', 't')
('meet', 1)
(1, 2.54433, (4.5+5j))
((1, 2, 3), ('meet', 'shah'))

In [97]:
# Dictionary:

student_dictionary = {"name":"Meet Shah","Std":"BE","Roll No":"1","courses":["Python","Java","C"]}
print(student_dictionary)

{'name': 'Meet Shah', 'Std': 'BE', 'Roll No': '1', 'courses': ['Python', 'Java', 'C']}

In [91]:
# Set:

sea = {1,2,3,4,5}
seb = {4,5,6,7,8}
print(sea.union(seb))
print(sea - seb)
print(seb - sea)
print(sea.intersection(seb))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}
{4, 5}

### 3.) Type Casting:
<p>Convert datatypes.</p>

In [90]:
#To take data from the user we use input() method
# syntax : input(prompt_msg)
# it will always catch the input as String

data = input("Enter no:")
print(type(data),data)

Enter no:23232
<class 'str'> 23232

In [34]:
#Type Casting:

data1 = input("Enter no: ")
print(type(data1),data1)

#casting 1
#data1=float(data1)
#print(type(data1),data1)

#int, float etc cannot be type casted to string

#casting 2
data1=list(data1)
print(type(data1),data1)

Enter no: 12314
<class 'str'> 12314
<class 'list'> ['1', '2', '3', '1', '4']

# Assignment in Python:
<p> Python support multiple assignment. </p>

In [37]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [1]:
# Code for swapping 2 numbers

a = 20
b = 44
#Generic method we use in C or Java
#c = b
#b = a
#a = c
#print("a:", a)
#print("b:", b)
a,b = b,a
print ("a:",a,"b:",b)

a: 44 b: 20

# Operators in Python:
<p> There are following 7 operators: </p>
<ul>
<li>Arithmetic : (+, -, *****, /, //, ****************, %)</li>
<li>Logical : (and, or, not)</li>
<li>Comparision : (==, !=, <, >, <=, >=) </li>
<li>Bitwise : (&, |, >>, <<) </li>
<li>Assignment : =</li>
<li>Membership : (in, not in)</li>
<li>Identity : (is, not is)</li>
</ul>

In [93]:
# Arithmetic Operator:

a = 10
b = 20
#Formatting used to obtain a visually better output [f""]
print(f"Addition of {a} and {b} is {a+b}")
print(f"Subtraction of {b} and {a} is {b-a}")
print(f"Division of {b} and {a} is {b/a}")
print(f"multiplication of {a} and {b} is {a*b}")
print(f"Modulus of {b} and {a} is {b%a}")
print(f"{a} raised to {b} is {a**b}")
print("Floor division gives quotient:",b//a)

Addition of 10 and 20 is 30
Subtraction of 20 and 10 is 10
Division of 20 and 10 is 2.0
multiplication of 10 and 20 is 200
Modulus of 20 and 10 is 0
10 raised to 20 is 100000000000000000000
Floor division gives quotient: 2

In [94]:
# Logical Operator
# Any number greater than 0 will be considered 1

logica = 1
logicb = 0 
logicc = 2
logicd = logica and logicb and logicc
print(logicd)
logicd = logica or logicb and logicc
print(logicd)
logicd = logica and logicb or logicc
print(logicd)

#CAN ALSO BE USED TO CHECK IF VARIABLE IS INTITALIZED IN MEMORY
logicala = None
logicalb = 0
logicald = logicala or "Not Initialized"
print(logicald)
logicald = logicalb or "value is zero"
print(logicald)

0
1
2
Not Initialized
value is zero

In [95]:
# Comparision: 

a = 2
b = 4
c = -5

d = a>b and a>c
e = b>a or b>c
print(d)
print(e)

False
True

In [116]:
# Bitwise:

a = 10
b = 3
print("a&b:",a&b)
print("a|b:",a|b)
print("b>>1:",b>>1)
print("a<<1:",a<<1)
print("binary of a is:",bin(a))

a&b: 2
a|b: 11
b>>1: 1
a<<1: 20
binary of a is: 0b1010

In [119]:
# Assignemnt:
# 2 types: Simple and Compound

a = 5
print(a)

a += 20
a *= 4
print(a)

5
100

In [137]:
# Membership:

a = "Hello world"
print("w" in a)
print("E" in a)
print("E" not in a)
c = [2,3]
b = [1,[2,3],4]
print(2 in b)
print(c in b)

True
False
True
False
True

In [136]:
#Identity:

a = 25
b = 45
print(type(a) is type(b))
c = 2.5
print(type(a) is type(c))

True
False

In [5]:
#PRACTICE CODE: to display root of a number entered by the user

#get input
no = input("Enter the number:")
#type cast
no = int(no)
#get input
r = input("Enter the root factor:")
#type cast
r = int(r)
#logic
print(f"The {r}th root of {no} is:", no**(1/r))

Enter the number:682123123
Enter the root factor:123123
The 123123th root of 682123123 is: 1.0001652201541062

# Decision making in Python
<p>Python doesn't have switch case.</p>
<p>Python uses the rules of Indendation.</p>
<p>Decision making loops are:</p>
<ul>
<li>if</li>
<li>else if</li>
<li>if elif else</li>
</ul>

In [6]:
#Decision making in Python: 

a = 20
b = 40
c = 50

# Normal:
if(a>b and a>c):
    print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is greater")

# Single line (recommended to use only if there are less than 3 conditions to be tested):
print("a is greater") if(a>b and a>c) else print("b is greater") if(b>a and b>c) else print("c is greater")

c is greater
c is greater

In [9]:
# Take number from user and check it's divisibility by 2 or 3 or both
no = input("Enter the number:")
no = int(no)

if(no%6==0):
    print(f"{no} is divisible by 2 and 3 both")
elif(no%3==0):
    print(f"{no} is divisible by 3 only")
elif(no%2==0):
    print(f"{no} is divisible by 2 only")
else:
    print(f"{no} is neither divisible by 2 or 3")

Enter the number:60
60 is divisible by 2 and 3 both

In [6]:
# Take a number from user to find factors of a number 
num = input("Enter the number:")
num = int(num)
x = num
i=1
print(f"The factors of {num} are:")
for i in range(1, x+1):
    if(num%i==0):
        print(i)

Enter the number:400
The factors of 400 are:
1
2
4
5
8
10
16
20
25
40
50
80
100
200
400

In [15]:
# Find LCM of 2 numbers entered by the user 

no1 = int(input("Enter first number:"))
no2 = int(input("Enter second number:"))
greater = 0
lcm = 0
if(no1>no2):
    greater = no1
else:
    greater = no2
for i in range(1,greater+1):
    if(no1%i == 0 and no2%i == 0):
        lcm = i
print(f"The LCM of {no1} and {no2} is:", lcm)

Enter first number:88
Enter second number:44
The LCM of 88 and 44 is: 44

# Range function in Python: range([start], end, [jump]) 
<p>Return an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step</p>

In [209]:
# Range ([st], end, [jump])
#         0    n-1    +1
# if jump is -ve the start point should be greater than end point
# if jump is +ve the end point should be greater than start point

print(list(range(10)))
print(list(range(1,50,2)))
print(list(range(0,50,2)))
print(list(range(10,-10,2)))
print(list(range(-10,10,2)))
print(list(range(10,0,-1)))
print(list(range(10,-10,-1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

# Loops in Python:
<ul>
<li>While Else</li>
<li>For</li>
<li>Enumerate</li>
<li>Zip</li>
<li>Control Statement</li>
</ul>

In [210]:
#While else loop:

counter = 0
while(counter<11):
    print(counter)
    counter += 1
else:
    print("done")

0
1
2
3
4
5
6
7
8
9
10
done

In [213]:
# For Loop: doesnt require to initialize the incremental varaible

a = "hello world"

for i in a:
    print(i)

for i in range(11):
    print(i*i)

h
e
l
l
o

w
o
r
l
d
0
1
4
9
16
25
36
49
64
81
100

In [219]:
# Enumerate: enumerate(data,starting index)

for index, data in enumerate("hello world",0):
    print(index,data)

0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d

In [228]:
# Zip: Compresses the data to send it to another block. Only one time use.
a = ["red","green","blue"]
b = ["rose", "vegetable", "sky"]
c = [1,2,3]
d = ["1","2"]
for i in zip(a,b,c):
    print(i)

for i in zip(a,b,d):
    print(i)

compress = zip(a,b,c)
print(list(compress))
print(list(compress),"Empty because it is already used by list so it is type casted")

for index,data in enumerate(zip(a,b,c)):
    print(data[0],data[1],data[2])

('red', 'rose', 1)
('green', 'vegetable', 2)
('blue', 'sky', 3)
('red', 'rose', '1')
('green', 'vegetable', '2')
[('red', 'rose', 1), ('green', 'vegetable', 2), ('blue', 'sky', 3)]
[] Empty because it is already used by list so it is type casted
red rose 1
green vegetable 2
blue sky 3

In [250]:
# Practice Code to print the tables of numbers

for i in range(1,101):
    print((list(range(i,i*11,i))))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]
[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
[14, 28, 42, 56, 70, 84, 98, 112, 126, 140]
[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]
[16, 32, 48, 64, 80, 96, 112, 128, 144, 160]
[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]
[18, 36, 54, 72, 90, 108, 126, 144, 162, 180]
[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]
[21, 42, 63, 84, 105, 126, 147, 168, 189, 210]
[22, 44, 66, 88, 110, 132, 154, 176, 198, 220]
[23, 46, 69, 92, 115, 138, 161, 184, 207, 230]
[24, 48, 72, 96, 120, 144, 168, 192, 216, 240]
[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]
[26, 52, 78, 104, 130, 156, 182, 208, 234, 260]
[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]
[28, 56, 84, 112, 140, 168, 196, 224, 252, 280]
[29, 58, 87, 116, 145, 174, 203, 232, 261, 290]
[30, 60, 90, 120, 150, 180, 210, 240, 270, 300]
[31, 62, 93, 124, 155, 186, 217, 248, 279, 310]
[32, 64, 96, 128, 160, 192, 224, 256, 288, 320]
[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]
[34, 68, 102, 136, 170, 204, 238, 272, 306, 340]
[35, 70, 105, 140, 175, 210, 245, 280, 315, 350]
[36, 72, 108, 144, 180, 216, 252, 288, 324, 360]
[37, 74, 111, 148, 185, 222, 259, 296, 333, 370]
[38, 76, 114, 152, 190, 228, 266, 304, 342, 380]
[39, 78, 117, 156, 195, 234, 273, 312, 351, 390]
[40, 80, 120, 160, 200, 240, 280, 320, 360, 400]
[41, 82, 123, 164, 205, 246, 287, 328, 369, 410]
[42, 84, 126, 168, 210, 252, 294, 336, 378, 420]
[43, 86, 129, 172, 215, 258, 301, 344, 387, 430]
[44, 88, 132, 176, 220, 264, 308, 352, 396, 440]
[45, 90, 135, 180, 225, 270, 315, 360, 405, 450]
[46, 92, 138, 184, 230, 276, 322, 368, 414, 460]
[47, 94, 141, 188, 235, 282, 329, 376, 423, 470]
[48, 96, 144, 192, 240, 288, 336, 384, 432, 480]
[49, 98, 147, 196, 245, 294, 343, 392, 441, 490]
[50, 100, 150, 200, 250, 300, 350, 400, 450, 500]
[51, 102, 153, 204, 255, 306, 357, 408, 459, 510]
[52, 104, 156, 208, 260, 312, 364, 416, 468, 520]
[53, 106, 159, 212, 265, 318, 371, 424, 477, 530]
[54, 108, 162, 216, 270, 324, 378, 432, 486, 540]
[55, 110, 165, 220, 275, 330, 385, 440, 495, 550]
[56, 112, 168, 224, 280, 336, 392, 448, 504, 560]
[57, 114, 171, 228, 285, 342, 399, 456, 513, 570]
[58, 116, 174, 232, 290, 348, 406, 464, 522, 580]
[59, 118, 177, 236, 295, 354, 413, 472, 531, 590]
[60, 120, 180, 240, 300, 360, 420, 480, 540, 600]
[61, 122, 183, 244, 305, 366, 427, 488, 549, 610]
[62, 124, 186, 248, 310, 372, 434, 496, 558, 620]
[63, 126, 189, 252, 315, 378, 441, 504, 567, 630]
[64, 128, 192, 256, 320, 384, 448, 512, 576, 640]
[65, 130, 195, 260, 325, 390, 455, 520, 585, 650]
[66, 132, 198, 264, 330, 396, 462, 528, 594, 660]
[67, 134, 201, 268, 335, 402, 469, 536, 603, 670]
[68, 136, 204, 272, 340, 408, 476, 544, 612, 680]
[69, 138, 207, 276, 345, 414, 483, 552, 621, 690]
[70, 140, 210, 280, 350, 420, 490, 560, 630, 700]
[71, 142, 213, 284, 355, 426, 497, 568, 639, 710]
[72, 144, 216, 288, 360, 432, 504, 576, 648, 720]
[73, 146, 219, 292, 365, 438, 511, 584, 657, 730]
[74, 148, 222, 296, 370, 444, 518, 592, 666, 740]
[75, 150, 225, 300, 375, 450, 525, 600, 675, 750]
[76, 152, 228, 304, 380, 456, 532, 608, 684, 760]
[77, 154, 231, 308, 385, 462, 539, 616, 693, 770]
[78, 156, 234, 312, 390, 468, 546, 624, 702, 780]
[79, 158, 237, 316, 395, 474, 553, 632, 711, 790]
[80, 160, 240, 320, 400, 480, 560, 640, 720, 800]
[81, 162, 243, 324, 405, 486, 567, 648, 729, 810]
[82, 164, 246, 328, 410, 492, 574, 656, 738, 820]
[83, 166, 249, 332, 415, 498, 581, 664, 747, 830]
[84, 168, 252, 336, 420, 504, 588, 672, 756, 840]
[85, 170, 255, 340, 425, 510, 595, 680, 765, 850]
[86, 172, 258, 344, 430, 516, 602, 688, 774, 860]
[87, 174, 261, 348, 435, 522, 609, 696, 783, 870]
[88, 176, 264, 352, 440, 528, 616, 704, 792, 880]
[89, 178, 267, 356, 445, 534, 623, 712, 801, 890]
[90, 180, 270, 360, 450, 540, 630, 720, 810, 900]
[91, 182, 273, 364, 455, 546, 637, 728, 819, 910]
[92, 184, 276, 368, 460, 552, 644, 736, 828, 920]
[93, 186, 279, 372, 465, 558, 651, 744, 837, 930]
[94, 188, 282, 376, 470, 564, 658, 752, 846, 940]
[95, 190, 285, 380, 475, 570, 665, 760, 855, 950]
[96, 192, 288, 384, 480, 576, 672, 768, 864, 960]
[97, 194, 291, 388, 485, 582, 679, 776, 873, 970]
[98, 196, 294, 392, 490, 588, 686, 784, 882, 980]
[99, 198, 297, 396, 495, 594, 693, 792, 891, 990]
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

# Control statements:
<li>Break - it is used to exit the current loop when invoked.</li>
<li>Continue - it is used to skip the current iteration in the loop when invoker.</li>

In [287]:
#Examples:
print("LOOP 1")
for i in "hello world":
    if(i=="w"):
        break
        print("Loop Break")
    print(i)

print("LOOP 2")
for i in "hello world":
    if(i=="o"):
        continue
        print("Loop continued")
    print(i)
print()

print("LOOP 3")
for i in "hello world":
    if(i=="o"):
        pass
    print(i)

LOOP 1
h
e
l
l
o

LOOP 2
h
e
l
l

w
r
l
d

LOOP 3
h
e
l
l
o

w
o
r
l
d

In [ ]:
#Project on Restaurant Management: in infinity loop, ask for the number of person, 
#individual starter meal and desert price and generate total bill and add a discount if any

print("Welcome to Makshah Restaurant")
while(True):
    person = input("Enter the number of persons:")
    person = int(person)
    total_bill=0
    for i in range(1,person+1):
        starter=input(f"Enter the {i} person's starter price:")
        starter=int(starter)
        meal=input(f"Enter the {i} person's meal price:")
        meal=int(meal)
        dessert=input(f"Enter the {i} person's dessert price:")
        dessert=int(dessert)
        total = starter + meal + dessert
        print(f"The bill of {i} person is:",total)
        total_bill += total
    total_bill = total_bill + total_bill*0.15
    print(f"The total bill of {person} people is:", total_bill)
    coupon = input("Do you have a coupon (y / n ):")
    coupon = str(coupon)
    if(coupon == 'y'or'Y'):
        disc = input("Enter the discount percentage:")
        disc = int(disc)
        disc = disc / 100
        total_bill = total_bill - total_bill*disc
    elif(coupon == 'n'or'N'):
        print("No discount")
    else:
        print("Invalid response.")
    print(f"The total bill of {person} people after the dsicount is:", total_bill)

Welcome to Makshah Restaurant
Enter the number of persons:1
Enter the 1 person's starter price:10
Enter the 1 person's meal price:20
Enter the 1 person's dessert price:30
The bill of 1 person is: 60
The total bill of 1 people is: 69.0
Do you have a coupon (y / n ):y
Enter the discount percentage:10
The total bill of 1 people after the dsicount is: 62.1
Enter the number of persons:2
Enter the 1 person's starter price:200
Enter the 1 person's meal price:300
Enter the 1 person's dessert price:100
The bill of 1 person is: 600
Enter the 2 person's starter price:200
Enter the 2 person's meal price:400
Enter the 2 person's dessert price:150
The bill of 2 person is: 750
The total bill of 2 people is: 1552.5
Do you have a coupon (y / n ):y
Enter the discount percentage:12
The total bill of 2 people after the dsicount is: 1366.2